{% extends 'front/base.html.twig' %}
{% block contenpage %}
    <div>
        <p>
        <h2>evenement</h2>
        </p>
    </div>
    <img src="{{ qr_code_data_uri(response, 'response') }}" />
{% endblock %}